<!DOCTYPE html>
<html>
    <head>
        <title>Air-scource heat pumps</title>

        <link rel="stylesheet" type ="text/css"  href="{{ url_for('static', filename='styles.css' )  }}">
    </head>

    <body>
        <nav><!--Simple and easy to use navigation bar that guides user to what they are looking for-->
            <a href ="/homepage">Home</a>
            <a href ="/bookings">Bookings</a>  
            <a href ="/List">List of equipement</a>
            <a href = "/Information">Information</a>
            <a href = "/carbon-footprint">Calculate Your Carbon Footprint</a>
        </nav>
    <body>
        <h1>Here is a list of information on Air-scource heat pumps!</h1>
        <p>Please take a pick from the list below.</p>
    </body>
        <section id="Camera">
            <h2>Air-scource Heat pumps</h2>
            <ol>
                <li> Purchasing Air-scource heat pumps •  allows you to heat up your home without the dependency on fossil fuels giving you a way to drastically reduce your carbon footprint.
                </li>
                <li> The use of an Air-scource heat pump can reduce your home's carbon footprint by up to 65%* compared with heating your home with a gas boiler</li>
                <li> Installation cost = For full installation you are looking around £3,500-4,500
                    2 year warrantee, if they break or don’t work you get your money back!
                     Air-Source Heat pumps are long-lasting and have a typical lifespan of 20 to 25 years. In the past, the average life expectancy would have been approximately 15 years, but technological advancements have meant you can now expect your unit to last longer.
                    </li>
            </ol>
            <nav>
                <a href = "/homepage">Back to homepage</a>
                <a href = "/List">Back to list of Stock</a>
              </nav> 
        </section>
    </body>
</html>