<!DOCTYPE html>
<html>
    <head>
        <title>Modern boiler installation</title>

        <link rel="stylesheet" type ="text/css"  href="{{ url_for('static', filename='styles.css' )  }}">
    </head>

    <body>
        <nav><!--Simple and easy to use navigation bar that guides user to what they are looking for-->
            <a href ="/homepage">Home</a>
            <a href ="/bookings">Bookings</a>  
            <a href ="/List">List of equipement</a>
            <a href = "/Information">Information</a>
            <a href = "/carbon-footprint">Calculate Your Carbon Footprint</a>
        </nav>
    <body>
        <h1>Here is a list of information on Modern day boilers!</h1>
        <p>Please take a pick from the list below.</p>
    </body>
        <section id="Camera">
            <h2>Modern Day boilers</h2>
            <ol>
                <li> Installing Modern boilers can offer efficiency levels of over 92% (depending on the make and model) and also use condensing technology. This means less fuel is wasted, and more energy is converted into heat.
                </li>
                <li> A new system boiler will cost between £1,600 to £5,000 to install. On average, you can expect to pay around £3,300. A system boiler is the perfect choice for homes with a higher hot water demand – this could mean 2 or more bathrooms, or large families who need to use multiple outlets at once.
                    </li>
            </ol>
            <nav>
                <a href = "/homepage">Back to homepage</a>
                <a href = "/List">Back to list of Stock</a>
              </nav> 
        </section>
    </body>
</html>