<!DOCTYPE html>
<html>
    <head>
        <title>Electrical Vechical Charging station installation</title>

        <link rel="stylesheet" type ="text/css"  href="{{ url_for('static', filename='styles.css' )  }}">
    </head>

    <body><!--Simple and easy to use navigation bar that guides user to what they are looking for-->
        <nav>
            <a href ="/homepage">Home</a>
            <a href ="/bookings">Bookings</a>  
            <a href ="/List">List of equipement</a>
            <a href = "/Information">Information</a>
            <a href = "/carbon-footprint">Calculate Your Carbon Footprint</a>
        </nav>
    <body>
        <h1>Here is a list of information on Electrical Vechical charging stations!</h1>
        <p>Please take a pick from the list below.</p>
    </body>
        <section id="Camera">
            <h2>Electrical vechical charging stations</h2>
            <ol>
                <li> Installation of electrical vechical charging stations can save you up to 70% reduction on fossil fuel emmissions in your day to day life cutting down on any c02 emmisions when making journeys and also save you money in the long run instead of buying petrol when needed.
                </li>
                <li> The cost to install a home EV charger varies depending on your specific project needs, typically ranging from $799 to $1,999. This includes a $149 deposit required to schedule the installation
                    </li>
            </ol>
            <nav>
                <a href = "/homepage">Back to homepage</a>
                <a href = "/List">Back to list of Stock</a>
              </nav> 
        </section>
    </body>
</html>