<!DOCTYPE html>
<html>
    <head>
        <title>Ways in your Diet you can reduce your carbon footprint</title>

        <link rel="stylesheet" type ="text/css"  href="{{ url_for('static', filename='styles.css' )  }}">
    </head>

    <body><!--Simple and easy to use navigation bar that guides user to what they are looking for-->
        <nav>
            <a href ="/homepage">Home</a>
            <a href ="/bookings">Bookings</a>  
            <a href ="/List">List of equipement</a>
            <a href = "/Information">Information</a>
            <a href = "/carbon-footprint">Calculate Your Carbon Footprint</a>
        </nav>
    <body>
        <h1>Here is a list of information on Food and diet emissions!</h1>
        <p>Please take a pick from the list below.</p>
    </body>
        <section id="Camera">
            <h2>How your diet effects carbon emissions!</h2>
            <ol>
                <li> Your diet type can greatly effect the amount you are contributing towards your carbon footprint depending on the type of things you like to eat</li>

                <li> With diet types the estimated rough emissions of each diet type drastically changes depending on wether you are vegan, vegetarian or eat both meats and vegetables.</li>

                <li> The emissios for each diet type are labeled below:</li>


                <li> diet type meaning vegan = 2.0 kg c02e per day, vegetarian =2.5 kg c02e per day and mixed is 5kg of c02e per day..</li>
                    
                    
            </ol>
            <nav>
                <a href = "/homepage">Back to homepage</a>
                <a href = "/Information">Back to list of Information</a>
              </nav> 
        </section>
    </body>
</html>