<!DOCTYPE html>
<html>
    <head>
        <title>Ways in your home you can reduce your carbon footprint</title>

        <link rel="stylesheet" type ="text/css"  href="{{ url_for('static', filename='styles.css' )  }}">
    </head>

    <body><!--Simple and easy to use navigation bar that guides user to what they are looking for-->
        <nav>
            <a href ="/homepage">Home</a>
            <a href ="/bookings">Bookings</a>  
            <a href ="/List">List of equipement</a>
            <a href = "/Information">Information</a>
            <a href = "/carbon-footprint">Calculate Your Carbon Footprint</a>
        </nav>
    <body>
        <h1>Here is a list of information on home details!</h1>
        <p>Please take a pick from the list below.</p>
    </body>
        <section id="Camera">
            <h2>Within your household you can!</h2>
            <ol>
                <li> Choose to walk or cycle whenever possible instead of driving. </li>
 
                <li>   •	Use public transport more often (bus, tram or train) and avoid taxis. </li>
                    
                <li>   •	Car-sharing to work is a great way to reduce emissions from your own and colleagues. </li>
                    
                <li>    •	Maintaining a healthy car can also reduce your emissions.  Regularly servicing your vehicle can avoid issues that waste fuel, such as low tyre pressure or gear and oil issues. </li>
                    
                <li>    •	Practising efficient driving can also reduce fuel consumption. This means avoiding harsh braking and maintaining a smooth and steady speed. </li>
                    
                <li>    •	Reduce air conditioning in the car, as this is very power-hungry. </li>
                    
                    
                <li>    •	Consider switching to an electric car if you want a new one. This can reduce your carbon footprint by 2-3 tonnes per year.</li>
                    
                    
            </ol>
            <nav>
                <a href = "/">Back to homepage</a>
                <a href = "/Information">Back to list of Information</a>
              </nav> 
        </section>
    </body>
</html>