<!DOCTYPE html>
<html>
    <head>
        <title>Rolsa technologies</title>

        <link rel="stylesheet" type="text/css" href ="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body><!--Simple and easy to use navigation bar that guides user to what they are looking for-->
        <nav>
            <a href = "/homepage">Home</a>
            <a href = "/bookings">Checkout</a>
            <a href = "/List">List of Stock</a>
            <a href = "/Information">Information</a>
            <a href = "/carbon-footprint">Calculate Your Carbon Footprint</a>
        </nav>
    <body>
        <h1>How can you reduce your carbon footprint!</h1>
        <p>Here below is a list of links that will take you to your specific information asked for.</p>
        <p>Help is also below!</p>
    
            <h2>Travel information available.</h2>
            <h3>In This link it contains a list of all information on how you can reduce your carbon footprint when travelling.</h3>
            <nav>
                <a href = "/Travel">During Travel</a>
             </nav>
    
        <h2>Workplace information available.</h2>
        <h3>In This link it contains a list of all information on how you can reduce your carbon footprint within the workplace.</h3>
        <nav>
            <a href ="/Workplace">Within the workplace</a>
        </nav>
        <h2>Home information available.</h2>
        <h3>In This link it contains a list of all the information on how you can reduce your carbon footprint within your home.</h3>
        <nav>
            <a href ="/HomeCarbon">Within your home </a>
        </nav>
        <h2>Food information available.</h2>
        <h3>In This link it contains a list of all the information on how you can reduce your carbon footprint when you are eating and cooking..</h3>
        <nav>
            <a href ="/Food">Food Information</a>
        </nav>
    </body>
</html>