<!DOCTYPE html>
<html>
    <head>
        <title>Rolsa technologies</title>

        <link rel="stylesheet" type="text/css" href ="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body><!--Simple and easy to use navigation bar that guides user to what they are looking for-->
        <nav>
            <a href = "/homepage">Home</a>
            <a href = "/bookings">Checkout</a>
            <a href = "/List">List of Stock</a>
            <a href = "/Information">Information</a>
            <a href = "/carbon-footprint">Calculate Your Carbon Footprint</a>
        </nav>
    <body>
        <h1>Here is a list of our Green energy Products!</h1>
        <p>Here below is a list of links that will take you to your specific item asked for.</p>
        <p>Help is also below!</p>
    
            <h2>Solar pannels available for installation.</h2>
            <h3>In This link it contains a list of all information on solar pannels avaiable for customer use.</h3>
            <nav>
                <a href = "/Solar panels">Solar pannels</a>
             </nav>
    
        <h2>Air-scource heat pumps for purchase.</h2>
        <h3>In This link it contains a list of all information on Air-scource heat pumps.</h3>
        <nav>
            <a href ="/Air-pumps">Air-scource heat pumps</a>
        </nav>
        <h2>Wind turbines avaiable for installation.</h2>
        <h3>In This link it contains a list of all the Information on wind turbines.</h3>
        <nav>
            <a href ="/Wind turbines">Wind turbines</a>
        </nav>
        <h2>Modern day boilers for customer installation.</h2>
        <h3>In This link it contains a list of all the information on modern day boilers.</h3>
        <nav>
            <a href ="/Modern boilers">Modern day boilers</a>
        </nav>
        <h2>Home insulation for customer installation.</h2>
        <h3>In this link it contains a list of all the information on home insulation.</h3>
        <nav>
            <a href ="/Home insulation">Home insulation</a>
        </nav>
        <h2>Electrical vechical charging stations.</h2>
        <h3>In this link it contains a list of all the information on electrical vechical charging stations.</h3>
        <nav>
            <a href="/EVcharging">Electrical vechical charging stations</a>
        </nav>
    </body>
</html>