<!DOCTYPE html>

<html>
    <head>
        <title>Rolsa technologies </title>

        <link rel="stylesheet" type ="text/css"  href="{{ url_for('static', filename='styles.css' )  }}">
    </head>


   <h1>Here you can register an account with Rolsa technologies</h1>
   <body>
    
<body>
    <h1>Login</h1>
    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}
    <form method="POST">
        Username: <input type="text" name="username"><br>
        Password: <input type="password" name="password"><br>
        <button type="submit">Login</button>
    </form>
</body>
</html>

       
   </body>
   </html>
   
       
        
        <footer>&copy; 2025 Rolsa technologies </footer>
        <script> src="{{ url_for('static' , filename ='script.js') }}"</script>
    </body>
</html>