<!DOCTYPE html>

<html>
    <head>
        <title>Rolsa technologies </title>

        <link rel="stylesheet" type ="text/css"  href="{{ url_for('static', filename='styles.css' )  }}">
    </head>


   <h1>Here you can register an account with Rolsa technologies</h1>
   <body>
    
    <h1>You have successfully logged out.</h1>
    <a href="/homepage">Home</a>
</body>
</html>

    
</body>
</html>

       
   </body>
   </html>
   
       
        
        <footer>&copy; 2025 Rolsa technologies </footer>
        <script> src="{{ url_for('static' , filename ='script.js') }}"</script>
    </body>
</html>