<!DOCTYPE html>
<html>
    <head>
        <title>Solar pannels installation</title>

        <link rel="stylesheet" type ="text/css"  href="{{ url_for('static', filename='styles.css' )  }}">
    </head>

    <body><!--Simple and easy to use navigation bar that guides user to what they are looking for-->
        <nav>
            <a href ="/homepage">Home</a>
            <a href ="/bookings">Bookings</a>  
            <a href ="/List">List of equipement</a>
            <a href = "/Information">Information</a>
            <a href = "/carbon-footprint">Calculate Your Carbon Footprint</a>
        </nav>
    <body>
        <h1>Here is a list of information on solar pannels!</h1>
        <p>Please take a pick from the list below.</p>
    </body>
        <section id="Camera">
            <h2>Solar pannels</h2>
            <ol>
                <li> Installing solar panels can save you and your household up to 1 Tonne worth of carbon per year and many experts that we have spoken with agree that solar panels are one of the best and most efficient ways at reducing ones carbon footprint
                </li>
                <li> Installation cost = For full installation you are looking around £4,000-£5,000
                    2 year warrantee, if they break or don’t work you get your money back!
                    Solar panels can last up to 25-30 years! Meaning it is a one time purchase giving you tonnes of renewable energy!
                    </li>
            </ol>
            <nav>
                <a href = "/homepage">Back to homepage</a>
                <a href = "/List">Back to list of Stock</a>
              </nav> 
        </section>
    </body>
</html>