<!DOCTYPE html>
<html>
    <head>
        <title>Ways in your workplace you can reduce your carbon footprint</title>

        <link rel="stylesheet" type ="text/css"  href="{{ url_for('static', filename='styles.css' )  }}">
    </head>

    <body><!--Simple and easy to use navigation bar that guides user to what they are looking for-->
        <nav>
            <a href ="/homepage">Home</a>
            <a href ="/bookings">Bookings</a>  
            <a href ="/List">List of equipement</a>
            <a href = "/Information">Information</a>
            <a href = "/carbon-footprint">Calculate Your Carbon Footprint</a>
        </nav>
    <body>
        <h1>Here is a list of information on workplace details!</h1>
        <p>Please take a pick from the list below.</p>
    </body>
        <section id="Camera">
            <h2>During work you can!</h2>
            <ol>
                <li> We can aim to reduce paper use, replace single-use plastics and try to recycle as much as possible. We can also choose efficient appliances or improve our buildings with better insulation.  </li>
 
                <li>   •    To run your offices or larger operations like warehouses through renewable energy could mean installing solar panels or an air source heat pump. You can provide cheap, clean electricity and heating for your business through these.  </li>
                    
                <li>   •	Car-sharing to work is a great way to reduce emissions from your own and colleagues. </li>
                    
                <li>    •	Avoid single-use coffee cups, glasses, silverware, and plates. </li>
                    
                <li>    •	Promote a paperless culture. </li>
                    
                <li>    •	Promote waste recycling. </li>
                    
                    
                <li>    •	Choose efficient office lighting.</li>
                    
                    
            </ol>
            <nav>
                <a href = "/homepage">Back to homepage</a>
                <a href = "/Information">Back to list of Information</a>
              </nav> 
        </section>
    </body>
</html>